{% load static %}

<footer class="hero is-small is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <!-- <div class="columns m-t-10">
        <div class="column">
          <nav class="has-text-grey-light">
            <a href="#" class="has-text-primary">About us</a> &bullet;
            <a href="{% url 'list' %}" class="has-text-primary">List your car</a> &bullet;
            <a href="#" class="has-text-primary">Contact us</a>
          </nav>
        </div>
      </div> -->
      <div class=" b-t m-t-30 p-t-30 has-text-grey-light is-size-7">
        Jo-Ivan Melgarejo <span class="year"></span><br>
      </div>
    </div>
  </div>
</footer>
