{% load static %}

<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'index' %}">
      <strong class="is-size-5">car rental project</strong>
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarTopMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbarTopMain">

    <div class="navbar-end">
      <a href="{% url 'listings' %}" {% if 'listings' in request.path %}
        class="navbar-item has-text-weight-semibold is-active" {% else %} class="navbar-item has-text-weight-semibold"
        {% endif %}>Browse all rentals</a>
      {% if user.is_authenticated %}
      <a href="{% url 'listyourcar' %}" {% if 'listyourcar' in request.path %}
        class="navbar-item has-text-weight-semibold is-active" {% else %} class="navbar-item has-text-weight-semibold"
        {% endif %}>List your car</a>

      <a href="{% url 'dashboard' %}" {% if 'dashboard' in request.path %}
        class="navbar-item has-text-weight-semibold is-active" {% else %} class="navbar-item has-text-weight-semibold"
        {% endif %} class="navbar-item has-text-weight-semibold">Dashboard</a>

      <div class="navbar-item">
        <a href="javascript:{document.getElementById('logout').submit()}" class="button">
          Log out
        </a>
        <form action="{% url 'logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <input type="hidden">
        </form>
      </div>

      {% else %}
      <div class="navbar-item">
        <a href="{% url 'login' %}" class="button">
          Log in
        </a>
      </div>
      <div class="navbar-item">
        <a href="{% url 'register' %}" class="button is-primary">
          Sign up
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
