{% extends 'base.html' %}

{% block title %}· Dashboard{% endblock %}

{% block content %}

<div class="hero-body">
  <div class="container">
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="is-active"><a href="{% url 'dashboard' %}" aria-current="page">Dashboard
            &nbsp;<strong>({{ user.username }})</strong></a>
        </li>
      </ul>
    </nav>

    <h2 class="is-size-2">Welcome {{ user.first_name }}!</h2>

    <h5 class="is-size-5">Here are the listings that you have posted:</h5>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th><abbr title="Position">#</abbr></th>
          <th>Listing</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a>
            <strong>(C)</strong>
          </td>
          <td>38</td>
        </tr>
        <tr>
          <th>2</th>
          <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
          <td>38</td>
        </tr>
      </tbody>
    </table>

    <h5 class="is-size-5">Here are the listings that you have inquired about:</h5>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th><abbr title="Position">#</abbr></th>
          <th>Listing</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a>
            <strong>(C)</strong>
          </td>
          <td>38</td>
        </tr>
        <tr>
          <th>2</th>
          <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
          <td>38</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
