{% extends 'base.html' %}

{% block title %}· Dashboard{% endblock %}

{% block content %}

<div class="hero-body">
  <div class="container">
    {% if user.is_authenticated %}
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="is-active"><a href="{% url 'dashboard' %}" aria-current="page">Dashboard
            &nbsp;<strong>({{ user.username }})</strong></a>
        </li>
      </ul>
    </nav>

    <h2 class="is-size-2">Welcome {{ user.first_name }}!</h2>

    <h5 class="is-size-5">Here are the listings that you have posted:</h5>
    {% if listings %}
    <div style="display: grid">
      <div class="table-container mt-3">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th>Listing Title</th>
              <th>Rental Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for listing in listings %}
            <tr>
              <th>{{ listing.id }}</th>
              <td>{{ listing.title }}</td>
              <td><span
                  class="{% if listing.is_rented == False %}has-text-danger{% else %}has-text-success{% endif %}">{{ listing.is_rented }}</span>
              </td>
              <td>
                <a class="button is-small" href="{% url 'listing' listing.id %}">View Listing</a>
              </td>
              <td>
                <form action="{% url 'listing_edit' listing.id %}" method="POST">
                  {% csrf_token %}
                  <button class="button is-small is-link" href="{% url 'listing_edit' listing.id %}">Change Rental
                    Status</button>
                </form>
              </td>
              <td>
                <form action="{% url 'listing_delete' listing.id %}" method="POST">
                  {% csrf_token %}
                  <button class="button is-small is-danger" type="submit">Delete Listing</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% else %}
    <p>You have not posted any listings.</p>
    {% endif %}

    <h5 class="is-size-5">Here are the listings that you have inquired about:</h5>
    {% if contacts %}

    <div style="display: grid">
      <div class="table-container mt-3">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th>Listing Title</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr>
              <th>{{ contact.id }}</th>
              <td>{{ contact.listing }}</td>
              <td>
                <a class="button is-small" href="{% url 'listing' contact.listing_id %}">View Listing</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% else %}
    <p>You have not made any inquiries.</p>
    {% endif %}
    {% else %}
    <div class="mt-3">
      <h4 class="is-size-4 has-text-centered">You must log in to access the dashboard.</h4>
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}
