{% extends 'base.html' %}

{% block title %}· Sign up{% endblock %}

{% block content %}
<div class="hero-body">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        <form action="{% url 'signup' %}" method="POST" class="box">
          {% csrf_token %}
          <div class="field">
            <h2 class="is-size-2 has-text-centered">Sign up</h2>
          </div>
          <div class="field">
            <label for="firstname" class="label">First Name</label>
            <div class="control has-icons-left">
              <input name="firstname" placeholder="John" class="input" required>
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="lastname" class="label">Last Name</label>
            <div class="control has-icons-left">
              <input name="lastname" placeholder="Smith" class="input" required>
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="lastname" class="label">Username</label>
            <div class="control has-icons-left">
              <input name="username" placeholder="e.g. johnsmith" class="input" required>
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="email" class="label">Email</label>
            <div class="control has-icons-left">
              <input name="email" type="email" placeholder="e.g. johnsmith@gmail.com" class="input" required>
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control has-icons-left">
              <input name="password" type="password" placeholder="*******" class="input" required>
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="password2" class="label">Confirm Password</label>
            <div class="control has-icons-left">
              <input name="password2" type="password" placeholder="*******" class="input" required>
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <button class="button is-primary is-fullwidth">
              Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
