{% extends 'base.html' %}

{% load humanize %}

{% block title %}· Home{% endblock %}

{% block content %}
<div class="hero-body">
  <div class="container">
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

    <h3 class="title is-size-4">Find cars in all New York City boroughs</h3>
    <h4 class="subtitle is-size-6">Whether you are looking for a Honda Civic or a BMW M3 we got 'em all.
    </h4>


    <form action="{% url 'search' %}">
      <div class="field">
        <label class="label">Car</label>
        <div class="control">
          <input class="input" type="text" name="cars" placeholder="Car">
        </div>
      </div>

      <div class="field">
        <label class="label">Keyword</label>
        <div class="control">
          <input class="input" type="text" name="keywords" placeholder="Keyword (description)">
        </div>
      </div>

      <div class="field">
        <label class="label">Max Price Per Day</label>
        <div class="control">
          <input class="input" type="number" name="price" placeholder="Max Price Per Day">
        </div>
      </div>

      <div class="field">
        <label class="label">Borough</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="borough">
              <option selected="true" disabled="disabled">Borough (All)</option>
              {% for key,value in borough_choices.items %}
              <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Search</button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
