{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="hero-body">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="sub-section">
          <!-- <h3 class="title is-size-4">Find cars in all New York City boroughs</h3>
          <h4 class="subtitle is-size-6">Whether you are looking for a Honda Civic or a BMW M3 we got 'em all.
          </h4> -->
          <div class="columns">
            {% if listings %}
            {% for listing in listings %}
            <div class="column">
              <div class="card rb-card">
                <div class="card-image">
                  <figure class="image is-16by9">
                    <img src="{{ listing.photo_main.url }}" alt=" {{listing.car}} for rent">
                  </figure>
                </div>
                <div class="card-content">
                  <h2 class="title is-size-6">
                    <a href="#">
                      {{listing.car}} for rent in<br /> {{listing.borough}}
                    </a>
                  </h2>
                  <p><strong>Title: </strong>{{listing.title}}</p>
                  <p><strong>Description: </strong> {{listing.description}}</p>
                  <p><strong>Price: </strong> ${{listing.price | intcomma}} per day</p>
                  <p><strong>Listing Date: </strong> {{listing.list_date}}</p>
                  <p><strong>Rental Status: </strong> {{listing.is_rented}}</p>

                  <a href="{% url 'listing' listing.id %}" class="button is-dark">More info</a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="is-centered">
              <p>There are currently no listings available. Maybe you should add one?</p>
            </div>
            {% endif %}



          </div>

          <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li>
                <a class="pagination-link" aria-label="Goto page 1">1</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              <li>
                <a class="pagination-link" aria-label="Goto page 45">45</a>
              </li>
              <li>
                <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
              </li>
              <li>
                <a class="pagination-link" aria-label="Goto page 47">47</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              <li>
                <a class="pagination-link" aria-label="Goto page 86">86</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
