{% extends 'base.html' %}

{% load humanize %}

{% block title %}· Browse rentals{% endblock %}

{% block content %}
<div class="hero-body">
  <div class="container">

    <div class="mb-4">
      <form action="{% url 'search' %}">
        <div class="field">
          <label class="label">Car</label>
          <div class="control has-icons-left">
            <input class="input" type="text" name="cars" placeholder="Car">
            <span class="icon is-small is-left">
              <i class="fa fa-car"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Keyword</label>
          <div class="control has-icons-left">
            <input class="input" type="text" name="keywords" placeholder="Keyword (description)">
            <span class="icon is-small is-left">
              <i class="fa fa-list"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Max Price Per Day</label>
          <div class="control has-icons-left">
            <input class="input" type="number" name="price" placeholder="Max Price Per Day">
            <span class="icon is-small is-left">
              <i class="fa fa-dollar-sign"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Borough</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select name="borough">
                <option selected="true" disabled="disabled">Borough (All)</option>
                {% for key,value in borough_choices.items %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Browse Listings</a></li>
      </ul>
    </nav>

    <div class="columns is-centered">
      <div class="column is-10">
        <div class="sub-section">

          <div class="columns">
            {% if listings %}
            {% for listing in listings %}
            <div class="column">
              <div class="card rb-card">
                <div class="card-image">
                  <figure class="image is-16by9">
                    <img src="{{ listing.photo_main.url }}" alt=" {{listing.car}} for rent">
                  </figure>
                </div>
                <div class="card-content">
                  <h2 class="title is-size-6">
                    <a href="{% url 'listing' listing.id %}">
                      {{listing.car}} for rent in<br /> {{listing.borough}}
                    </a>
                  </h2>
                  <p><strong>Title: </strong>{{listing.title}}</p>
                  <p><strong>Price: </strong> ${{listing.price | intcomma}} per day</p>
                  <p><strong>Rental Status: </strong>{{listing.is_rented}}</p>

                  <a href="{% url 'listing' listing.id %}" class="button is-dark">More info</a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="is-centered">
              <p>There are currently no listings available.</p>
            </div>
            {% endif %}
          </div>


          <nav class="pagination" role="navigation" aria-label="pagination">
            {% if listings.has_other_pages %}
            {% if listings.has_previous %}
            <a href="?page={{listings.previous_page_number}}" class="pagination-previous">Previous</a>
            {% else %}

            <a class="pagination-previous">Disabled</a>

            {% endif %}

            {% if listings.has_next %}
            <a class="pagination-next" href="?page={{listings.next_page_number}}">Next page</a>
            {% else %}

            <a class="pagination-previous">Disabled</a>

            {% endif %}



            <ul class="pagination-list">
              {% for i in listings.paginator.page_range %}
              {% if listings.number == i %}
              <li>
                <a class="pagination-link is-current" aria-label="Page {{i}}" aria-current="page">{{i}}</a>
              </li>
              {% else %}
              <li>
                <a href="?page={{i}}" class="pagination-link" aria-label="Page 1" aria-current="page">{{i}}</a>
              </li>
              {% endif %}
              {% endfor %}

              <!-- <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li> -->

            </ul>
            {% endif %}

          </nav>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
