{% extends 'base.html' %}

{% load humanize %}

{% block title %}· {{listing.title}} for rent in {{listing.borough}}{% endblock %}

{% block content %}

<!-- todo: check if each individual photo url is in database -->
<!-- todo: back button -->
<div class="hero-body">
  <div class="container">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'listings' %}">Browse Listings</a></li>
        <li class="is-active"><a href="#" aria-current="page"> {{listing.car}} for rent in<br /> {{listing.borough}}</a>
        </li>
      </ul>
    </nav>

    <div class="card rb-card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="{{ listing.photo_main.url }}" alt=" {{listing.car}} for rent">
        </figure>
      </div>
      <div class="card-content">
        <h2 class="title is-size-3">
          <a href="#">
            {{listing.car}} for rent in<br /> {{listing.borough}}
          </a>
        </h2>
        <p><strong>Title: </strong>{{listing.title}}</p>
        <p><strong>Description: </strong> {{listing.description}}</p>
        <p><strong>Price: </strong> ${{listing.price | intcomma}} per day</p>
        <p><strong>Listing Date: </strong> {{listing.list_date}}</p>
        <p><strong>Rental Status: </strong> {{listing.is_rented}}</p>
        <p><strong>Username: </strong>{{listing.user}}</p>

        {% if user.is_authenticated %}
        <div class="mt-2">
          <h2 class="title is-size-3">Contact form</h2>
          <div class="field">
            <label class="label">Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Text input">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Text input">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email input">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Phone</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email input">
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary">Submit</button>
            </div>
          </div>
        </div>
        {% else %}
        <div>
          <p>You must login to contact this user</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
