{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="hero-body">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="sub-section">
          <!-- <h3 class="title is-size-4">Find cars in all New York City boroughs</h3>
          <h4 class="subtitle is-size-6">Whether you are looking for a Honda Civic or a BMW M3 we got 'em all.
          </h4> -->
          <div class="columns">
            {% if listings %}
            {% for listing in listings %}
            <div class="column">
              <div class="card rb-card">
                <div class="card-image">
                  <figure class="image is-16by9">
                    <img src="{{ listing.photo_main.url }}" alt=" {{listing.car}} for rent">
                  </figure>
                </div>
                <div class="card-content">
                  <h2 class="title is-size-6">
                    <a href="{% url 'listing' listing.id %}">
                      {{listing.car}} for rent in<br /> {{listing.borough}}
                    </a>
                  </h2>
                  <p><strong>Title: </strong>{{listing.title}}</p>
                  <p><strong>Price: </strong> ${{listing.price | intcomma}} per day</p>

                  <a href="{% url 'listing' listing.id %}" class="button is-dark">More info</a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="is-centered">
              <p>There are currently no listings available. Maybe you should add one?</p>
            </div>
            {% endif %}
          </div>


          <nav class="pagination" role="navigation" aria-label="pagination">
            {% if listings.has_other_pages %}
            {% if listings.has_previous %}
            <a href="?page={{listings.previous_page_number}}" class="pagination-previous">Previous</a>
            {% else %}

            <a class="pagination-previous">Disabled</a>

            {% endif %}

            {% if listings.has_next %}
            <a class="pagination-next" href="?page={{listings.next_page_number}}">Next page</a>
            {% else %}

            <a class="pagination-previous">Disabled</a>

            {% endif %}



            <ul class="pagination-list">
              {% for i in listings.paginator.page_range %}
              {% if listings.number == i %}
              <li>
                <a class="pagination-link is-current" aria-label="Page {{i}}" aria-current="page">{{i}}</a>
              </li>
              {% else %}
              <li>
                <a href="?page={{i}}" class="pagination-link" aria-label="Page 1" aria-current="page">{{i}}</a>
              </li>
              {% endif %}
              {% endfor %}

              <!-- <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li> -->

            </ul>
            {% endif %}

          </nav>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
